In [1]:
from functools import partial
from rpy2.ipython import html
html.html_rdataframe=partial(html.html_rdataframe, table_class="docutils")

# tidyr in Python

In [2]:
from rpy2.robjects.lib.tidyr import DataFrame

(note: `dplyr` is implicitly used by `tidyr`.)

In addition to that, and because this tutorial is in a notebook,
we initialize HTML rendering for R objects (pretty display of
R data frames).

In [3]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [4]:
from collections import OrderedDict
from rpy2.robjects.vectors import (StrVector,
                                   IntVector)
dataf = DataFrame(OrderedDict(x=StrVector(("a", "b", "b")),
                              y=IntVector((3, 4, 5)),
		              z=IntVector((6, 7, 8))))
dataf

<rpy2.robjects.lib.tidyr.DataFrame object at 0x7f76ed2b9840> [RTYPES.VECSXP]
R classes: ('data.frame',)
[StrSexpVector, IntSexpVector, IntSexpVector]
  x: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x7f773c26f900> [RTYPES.STRSXP]
  y: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7f76ed2b8500> [RTYPES.INTSXP]
  z: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7f76ed2a44c0> [RTYPES.INTSXP]

In [5]:
dataf.spread('x', 'y')

<rpy2.robjects.lib.tidyr.DataFrame object at 0x7f76f282eb00> [RTYPES.VECSXP]
R classes: ('data.frame',)
[IntSexpVector, IntSexpVector, IntSexpVector]
  z: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7f76ed409e40> [RTYPES.INTSXP]
  a: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7f76f2817280> [RTYPES.INTSXP]
  b: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x7f76ed409e40> [RTYPES.INTSXP]

**Reuse. Get things done. Don't reimplement.**